.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
 .form {
  margin-left: 620px;
  margin-top: 220px;
  display: inline-block;
  border-radius: 3px;
  padding: 3px 4px;
  outline: none;
  width: 250px;
}

 .bg{
  background-color: #075E54;
  background-image: url(bg.png); 
  width: 100%;
  height: 450px;
  margin-top: 100px;
}
.upload-expense {
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  

}

 .button{
  
  margin-left: 80px; 
  outline: none;
  border: none;
  padding: 10px 32px;
  font-size: 16px;
  background-color:#04813e48 ;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav{
  background-image: url(NAVBAR.png);
  margin:0;
  height:100px  ;
}
.Name-text{
  margin-left: 200;
  margin-top: 10px;
}
.message-space{
  margin-top: 8%;
  background-color: #e5ddd5;
  background-image: url(bg.png);

}